body {
  font-family: "Libre Baskerville";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.seccion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
   
  background-color: #f5f5f5;
}

.contenido {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.imagen {
  justify-content: center;
  align-items: center;
}

.imagen img {
  width: 475px !important;
  height: 600px !important;
}

.texto {
  flex: 1;
}

.texto h4 {
  font-size: 16px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 10px;
}

.texto h1 {
  font-size: 36px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.texto p {
  font-size: 16px;
  margin-bottom: 20px;
  color: black;
}

.lista {
  padding: 10;
  color: black;
}

.lista li {
  font-size: 16px;
  color: black;
  margin-bottom: 10px;;
  align-items: center;
}

