body {
  font-family: "roboto";
  color: #333;
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/051/266/702/small/a-person-walking-down-an-empty-road-in-the-middle-of-nowhere-photo.jpg");
  background-repeat: no-repeat;
  background-size: 2000px;
  color: white;
}

ul li{
    list-style: none;
    background-color: rgb(105, 36, 36);
    padding: 10px;
    gap: 5px;
}

ul li i{
    color: white;
    font-size: 20px;
}

.container2 {
  width: 250px;
  background-color: #A52A2A;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.persona img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.persona h2 {
  margin: 10px 0 5px;
}

.menu {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

.menu a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.menu a:hover {
  background-color: white;
  color: #702c2c;
}

.redes-socials {
  display: flex;
  gap: 10px;
  margin-top: auto;
  padding: 10px 0;
}

.redes-socials img {
  width: 20px;
}

footer {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 10px;
}

.content {
  flex: 1;
  background: #f4f4f4;
  padding: 40px;
}

.seccion h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.cafe img {
  width: 250px;
  border-radius: 5px;
}

.cafe button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: white;
  color: #702c2c;
  border: none;
  cursor: pointer;
}

.cafe button:hover {
  background-color: white;
}

.seccion2 {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  gap: 20px;
}

.seccion2, h2 {
  display: flex;
  margin-bottom: 150px;
  align-items: center;
  
}

.seccion2 img {
  width: 50%;
  margin-top: 15px;
  border-radius: 5px;
}
