h3 {
    color: white;
    background-color: purple;
}

#t3 {
    color: red;
    background-color: white;
}

.miparrafo {
    color: pink;
    font-size: 34px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

#t1 {
    color: brown;
}

#l1 {
    color: orange;
}

#l2 {
    color: black;
    background-color: blue;
}

.li3 {
    font-weight: bold;
}
    
