body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0f1923;
}
.navbar {
    background-color: #0f1923;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .logo {
    font-size: 18px;
    font-weight: bold;
    color:  #ff4655;
    margin-right: 1000px;

  
}
.navbar ul {
    list-style: none;
    font-size: 16px;
    margin-left: 150;
    padding: 0;
    display: flex;
}
.navbar ul li {
    margin: 0 10px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.navbar ul li a:hover {
    text-decoration: underline;
}






.hero {
    background: url(https://wallpapers.com/images/featured/diseno-de-fondos-negros-849bldhahxjfm8n6.jpg) center center/cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero p {
    font-size: 16px;
    max-width: 600px;
    margin-bottom: 15px;
}

.hero .btn {
    background-color:  #ff4655;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.hero .btn:hover {
    background-color: darkred;
}








body {
    font-family: Arial, sans-serif;
    background-color: #131820;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
}

h2 {
    color:  #ff4655;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #bbb;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #13161d;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background-color: #ff4655;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    color: white;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #1b1f2a;
}

tbody tr:nth-child(even) {
    background-color: #10131a;
}

td a {
    color:  #ff4655;
    text-decoration: none;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}