body {
    background-color: aliceblue;
}

footer{
    background-color: rgb(55, 55, 172);
    color: aliceblue;
    text-align: center;
    padding: 20px 0 20px 0;
    font-weight: normal;
    font-size: 12px;
    text-transform: capitalize;
}

.main{
    display: inline-block;
}

.card{
    display: inline-block;
    width: 20%;
    margin: 10px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    border: lightgray solid 2px;
    box-shadow: -2px -4px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px -4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -4px 5px 0px rgba(0,0,0,0.75);
}

img{
    width: 100%;
    border-radius: 10px;
}

.main{
    text-align: center;
    height: 70vh;
}

h1{
    text-align: center;
}

header{
    background-color: aquamarine;
    padding: 40 0;
    margin-bottom: 50px;
}

.card2{
    background-color: brown;
    color: aliceblue;
}
